{% load static %}

<section class="section-about-me sec" id="aboutme">
    <div class="container">
        <span class="subheading">About-Me</span>
        <h2 class="heading-secondary margin-bottom-md">Meet The Creator</h2>
    </div>

    <div class="container grid grid--1--col floating">
        <div class="image-container">
            <img src="{% static 'image/me1.jpg' %}" alt="Myself" class="myimg">
        </div>

        <div class="my-description">
            <p class="project-details">
                I am a seasoned programmer with extensive expertise in Python, C++, web development, and game development.
                 My comprehensive knowledge in these areas has enabled me to deliver successful projects that have met and exceeded client expectations.
                 My technical skills, coupled with my ability to solve complex problems, make me an indispensable member of any development team.

            </p>
        </div>

    </div>
</section>