{% load static %}
<footer class="footer">
    <div class="container grid grid--2--cols gap">
        <div class="Links">
            <span class="topics edit">Links</span>
            <div class="icon-box">
                <a class="icon-edit" href="https://www.facebook.com/harish.narayana.581"><ion-icon class="icon" name="logo-facebook"></ion-icon></a>
                <a class="icon-edit" href="https://www.instagram.com/harish_narayana_/?hl=en"><ion-icon class="icon" name="logo-instagram"></ion-icon></a>
                <a class="icon-edit" href="https://twitter.com/g7harish"><ion-icon class="icon" name="logo-twitter"></ion-icon></a>
                <a class="icon-edit" href="https://www.linkedin.com/in/harish-narayana-868554217/"><ion-icon class="icon" name="logo-linkedin"></ion-icon></a>
            </div>
        </div>
        <div class="Tools">
            <span class="topics left edit">Tools</span>
            <div class="icon-box">
                <a class="icon-edit" href="https://www.python.org/"><ion-icon class="icon" name="logo-python"></ion-icon></a>
                <a class="icon-edit" href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5"><ion-icon class="icon" name="logo-html5"></ion-icon></a>
                <a class="icon-edit" href="https://www.javascript.com/"><ion-icon class="icon" name="logo-javascript"></ion-icon></a>
                <a class="icon-edit" href="https://ionic.io/ionicons"><ion-icon class="icon" name="logo-ionic"></ion-icon></a>
            </div>
        </div>
        <div class="copyights">
            <p class="rights">Copyright &copy; 2023 by Harish Narayana all rights reserved</p>
        </div>
    </div>
</footer>