{% load static %}

<header class="header-nav nav-open">
        <nav class="navigation">
            <ul class="item-list">
                <li class="list"><a href="#skills" class="menu">Skills</a></li>
                <li class="list"><a href="#projects" class="menu">Projects</a></li>
                <li class="list"><a href="#aboutme" class="menu">About Me</a></li>
                <li class="list"><a href="#signup" class="menu">Sign Up</a></li>
            </ul>
        </nav>
        <button class="btn-mobile-nav"style="
        padding: 0 2rem;
    "><ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon><ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon></button>
</header>