*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body{
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

strong{
    font-weight: 500;
}

.sec{
    margin: 9.8rem 0;
}

.container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid{
    display: grid;
}

.grid--1--cols{
    grid-template-columns: 1fr
}
.grid--2--cols{
    grid-template-columns: repeat(2,1fr);
}
.grid--3--cols{
    grid-template-columns: repeat(3,1fr);
    gap: 3.6rem;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.btn:link,
.btn:visited{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    margin: 0 1.2rem;
    border: 2px solid #ffffff;
    padding: 1.8rem;
    border-radius: 10rem;
    text-transform: uppercase;
    transition: all 0.5s;
}
.btn--main:link,
.btn--main:visited{
    transition: all 0.5s;
    
}
.btn--main:active,
.btn--main:hover{
    background-color:rgb(136, 136, 136) ;
    
}

.btn--side:link,
.btn--side:visited{
    transition: all 0.5s;
}
.btn--side:active,
.btn--side:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.388),rgba(0, 0, 0, 0.185),rgba(0, 0, 0, 0.11));
}

.btn--source:link,
.btn--source:visited{
    border: 2px solid #555;
    color: #555;
    margin: 0;
}
.btn--source:active,
.btn--source:hover{
    background-color: rgb(136, 136, 136) ;
    color: #fff;
}



.btn--form{
    background-color: #45260a;
    font-size: 1.8rem;
    color: #fff;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    align-self: end;
    padding: 1.4rem;
    transition: all 0.5s;
}

.btn--form:hover{
    background-color: #fff;
    color: #555;
}

*:focus{
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(233, 238, 253, 0.5);;

}


.heading-primary{
    font-size:5.2rem;
    text-transform: uppercase;
    line-height: 1.05;
    margin-bottom: 3.2rem;
    font-weight: 700;
    color: #fff;
    
}

.heading-secondary{
    font-size:4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
    font-weight: 700;
    
}
.heading-teritary{
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 3.2rem;
}

.subheading{
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(148, 148, 148);
    margin-bottom: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}
.left{
    align-self: end;
}



.margin-bottom-md{
    margin-bottom: 4.8rem !important;
}
.margin-bottom-sm{
    margin-bottom: 2.4rem !important;
}

.center-text{
    text-align: center;
}

.topics{
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color:  #dad4d4;
}

